{{> nav navFirmware=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Firmware Keys</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>
                        1. <a href="#headingFinal">Final</a>
                        <ul>
                            <li>1.1. <a href="#headingFinalIPhone">iPhone</a></li>
                            <li>1.1. <a href="#headingFinalIPod">iPod touch</a></li>
                        </ul>
                    </li>
                    <li>
                        2. <a href="#headingBeta">Beta</a>
                        <ul>
                            <li>1.1. <a href="#headingBetaIPhone">iPhone</a></li>
                            <li>1.1. <a href="#headingBetaIPod">iPod touch</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10">
            <h1>Firmware Keys: <code>1.x</code></h1>

            <h2 id="headingFinal">Final</h2>
            <h3 id="headingFinalIPhone">iPhone</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Release Date</th>
                        <th>Build</th>
                        <th><a href="/devices/iphone/1,1">iPhone</a></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each iPhoneFinal.iphone11}}
                    <tr>
                        <td>{{releaseDate}}</td>
                        <td>{{build}}</td>
                        <td><a href="/fw/keys/{{build}}/iphone11">{{version}}</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <h3 id="headingFinalIPod">iPod touch</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Release Date</th>
                        <th>Build</th>
                        <th><a href="/devices/ipod/1,1">iPod touch</a></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each iPodFinal.ipod11}}
                    <tr>
                        <td>{{releaseDate}}</td>
                        <td>{{build}}</td>
                        <td><a href="/fw/keys/{{build}}/ipod11">{{version}}</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <h2 id="headingBeta">Beta</h2>
            <h3 id="headingBetaIPhone">iPhone</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Release Date</th>
                        <th>Build</th>
                        <th><a href="/devices/iphone/1,1">iPhone</a></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each iPhoneBeta.iphone11}}
                    <tr>
                        <td>{{releaseDate}}</td>
                        <td>{{build}}</td>
                        <td><a href="/fw/keys/{{build}}/iphone11">{{version}}</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <h3 id="headingBetaIPod">iPod touch</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Release Date</th>
                        <th>Build</th>
                        <th><a href="/devices/ipod/1,1">iPod touch</a></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each iPodBeta.ipod11}}
                    <tr>
                        <td>{{releaseDate}}</td>
                        <td>{{build}}</td>
                        <td><a href="/fw/keys/{{build}}/ipod11">{{version}}</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> footer}}