{{> nav navFirmware=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Firmware Keys</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>
                        1. <a href="#headingFinal">Final</a>
                        <ul>
                            <li>1.1. <a href="#headingFinalIPhone">iPhone</a></li>
                            <li>1.1. <a href="#headingFinalIPod">iPod touch</a></li>
                        </ul>
                    </li>
                    <li>
                        2. <a href="#headingBeta">Beta</a>
                        <ul>
                            <li>1.1. <a href="#headingBetaIPhone">iPhone</a></li>
                            <li>1.1. <a href="#headingBetaIPod">iPod touch</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10">
            <h1>Firmware Keys: <code>1.x</code></h1>

            <h2 id="headingFinal">Final</h2>
            <h3 id="headingFinalIPhone">iPhone</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Release Date</th>
                        <th>Build</th>
                        <th><a href="/devices/iphone1,1">iPhone</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{date 2007 06 29}}</td>
                        <td>1A543a</td>
                        <td><a href="/fw/keys/1a543a/iphone11">1.0</a></td>
                    </tr>
                    <tr>
                        <td>{{date 2007 07 31}}</td>
                        <td>1C25</td>
                        <td><a href="/fw/keys/1c25/iphone11">1.0.1</a></td>
                    </tr>
                    <tr>
                        <td>{{date 2007 08 21}}</td>
                        <td>1C28</td>
                        <td><a href="/fw/keys/1c28/iphone11">1.0.2</a></td>
                    </tr>
                    <tr>
                        <td>{{date 2007 09 27}}</td>
                        <td>3A109a</td>
                        <td><a href="/fw/keys/3a109a/iphone11">1.1.1</a></td>
                    </tr>
                    <tr>
                        <td>{{date 2007 11 12}}</td>
                        <td>3B48b</td>
                        <td><a href="/fw/keys/3b48b/iphone11">1.1.2</a></td>
                    </tr>
                    <tr>
                        <td>{{date 2008 01 15}}</td>
                        <td>4A93</td>
                        <td><a href="/fw/keys/4a93/iphone11">1.1.3</a></td>
                    </tr>
                    <tr>
                        <td>{{date 2008 02 26}}</td>
                        <td>4A102</td>
                        <td><a href="/fw/keys/4a102/iphone11">1.1.4</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> footer}}