{{> nav navFirmware=true}}

<div class="container-fluid">
    {{{breadcrumbs
        (arr "Firmware Keys" "/fw/keys")
        version
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>
                        1. <a href="#headingFinal">Final</a>
                        <ul>
                            {{#each finalData}}
                            <li>1.{{addNum @index 1}}. <a href="#headingFinal{{device}}">{{devicePretty}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        1. <a href="#headingBeta">Beta</a>
                        <ul>
                            {{#each betaData}}
                            <li>2.{{addNum @index 1}}. <a href="#headingBeta{{device}}">{{devicePretty}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>Firmware Keys <small class="text-muted">{{version}}</small></h1>

            <h2 id="headingFinal">Final</h2>
            <div class="container-fluid">
                <div class="row">
                    {{#each finalData}}
                    <div class="col-md-6 col-lg-4">
                        <h3 id="headingFinal{{device}}">{{devicePretty}}</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Release Date</th>
                                    <th>Version (Build)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each builds}}
                                <tr>
                                    <td>{{{date releaseDate}}}</td>
                                    <td>{{#link (concat "/fw/keys/" build "/" ../device)}}{{../version}} (<code>{{../build}}</code>){{/link}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{/each}}
                </div>
            </div>

            <h2 id="headingBeta">Beta</h2>
            <div class="container-fluid">
                <div class="row">
                    {{#each betaData}}
                    <div class="col-md-6 col-lg-4">
                        <h3 id="headingBeta{{device}}">{{devicePretty}}</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Release Date</th>
                                    <th>Version (Build)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each builds}}
                                <tr>
                                    <td>{{{date releaseDate}}}</td>
                                    <td>{{#link (concat "/fw/keys/" build "/" ../device)}}{{../version}} (<code>{{../build}}</code>){{/link}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}