<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav mr-auto">
            <li {{#if navHome}}class="nav-item active" {{else}}class="nav-item" {{/if}}>
                <a class="nav-link" href="/">
                    Home
                    {{#if navHome}}<span class="sr-only">(current)</span>{{/if}}
                </a>
            </li>
            <li {{#if navAbout}}class="nav-item active" {{else}}class="nav-item" {{/if}}>
                <a class="nav-link" href="/about">
                    About
                    {{#if navAbout}}<span class="sr-only">(current)</span>{{/if}}
                </a>
            </li>
            <li {{#if navIOS}}class="nav-item active" {{else}}class="nav-item" {{/if}}>
                <a class="nav-link" href="/ios">
                    iOS
                    {{#if navIOS}}<span class="sr-only">(current)</span>{{/if}}
                </a>
            </li>
            <li {{#if navJailbreaks}}class="nav-item active" {{else}}class="nav-item" {{/if}}>
                <a class="nav-link" href="/jailbreaks">
                    Jailbreaks
                    {{#if navJailbreaks}}<span class="sr-only">(current)</span>{{/if}}
                </a>
            </li>
            <li {{#if navDevice}}class="nav-item active" {{else}}class="nav-item" {{/if}}>
                <a class="nav-link" href="/devices">
                    Devices
                    {{#if navDevice}}<span class="sr-only">(current)</span>{{/if}}
                </a>
            </li>
            <li {{#if navBaseband}}class="nav-item active" {{else}}class="nav-item" {{/if}}>
                <a class="nav-link" href="/baseband">
                    Basebands
                    {{#if navBaseband}}<span class="sr-only">(current)</span>{{/if}}
                </a>
            </li>
            <li {{#if navProcessor}}class="nav-item active" {{else}}class="nav-item" {{/if}}>
                <a class="nav-link" href="/processors">
                    Processors
                    {{#if navProcessor}}<span class="sr-only">(current)</span>{{/if}}
                </a>
            </li>
            <li {{#if navFirmware}}class="nav-item active dropdown" {{else}}class="nav-item dropdown" {{/if}}>
                <a class="nav-link dropdown-toggle" href="#" id="fwNavDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Firmware
                    {{#if navFirmware}}<span class="sr-only">(current)</span>{{/if}}
                </a>
                <div class="dropdown-menu" aria-labelledby="fwNavDropdown">
                    <a class="dropdown-item" href="/fw/keys">Firmware Keys</a>
                    <a class="dropdown-item" href="/fw/fs">Filesystem Browser</a>
                    <a class="dropdown-item" href="/fw/files">Firmware Files</a>
                    <a class="dropdown-item" href="/fw/decrypt">Decrypt</a>
                </div>
            </li>
            <li {{#if navOta}}class="nav-item active" {{else}}class="nav-item" {{/if}}>
                <a class="nav-link" href="/ota">
                    OTA Updates
                    {{#if navOta}}<span class="sr-only">(current)</span>{{/if}}
                </a>
            </li>
        </ul>
    </div>
</nav>