{{> nav navDownload=true}}

<div class="container-fluid">
    {{{breadcrumbs
        "Download"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingCurrentVersion" "Current Version")
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>Download iDecryptIt</h1>
            <p>
                iDecryptIt is a Windows-only program used to decrypt iOS' {{{link "/fw/files/rootFS" "root filesystem"}}}, similar to the {{{link "/fw/decrypt" "decryption"}}} page on this website.
                Currently, the project is on hiatus indefinitely, but in the future will support more than just the root filesystem.
            </p>

            <h2 id="headingCurrentVersion">Current Version</h2>
            <p>
                The current version of iDecryptIt is 11.4.1 (build <code>2I22</code>), released <span class="date">2018 08 17</span>.
                It is available for download on {{{link "https://sourceforge.net/projects/idecryptit/files/latest/download" "SourceForge"}}}.
            </p>
        </div>
    </div>
</div>

{{> footer}}