{{> nav navFirmware=true}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
        </div>


        <div class="col-sm-8">
            <h1>Firmware Listing</h1>
            <p>
                Please scroll to or select your device.
                If you don't know what device you have, please visit <a href="https://theiphonewiki.com/wiki/Models">The
                    iPhone Wiki</a> to find out.
            </p>
            <ul>
                <li><a href="#appletv">Apple TV</a></li>
                <li><a href="#ipad">iPad</a></li>
                <li><a href="#ipadmini">iPad mini</a></li>
                <li><a href="#ipadpro">iPad Pro</a></li>
                <li><a href="#iphone">iPhone</a></li>
                <li><a href="#ipodtouch">iPod touch</a></li>
            </ul>

            <h2 id="appletv">Apple TV</h2>
            {{#each appletv}}
                <a href="/fw/appletv/{{id}}" class="fwDevice">
                    <button type="button" class="btn btn-light">
                        <img src="/img/devices/appletv/{{image}}" alt="Apple TV {{varient}} (AppleTV{{id}})">
                        <br>
                        {{varient}} (AppleTV{{id}})
                    </button>
                </a>
            {{/each}}

            <h2 id="ipad">iPad</h2>
            {{#each ipad}}
                <a href="/fw/ipad/{{id}}" class="fwDevice">
                    <button type="button" class="btn btn-light">
                        <img src="/img/devices/ipad/{{image}}" alt="iPad {{varient}} (iPad{{id}})">
                        <br>
                        {{varient}} (iPad{{id}})
                    </button>
                </a>
            {{/each}}

            <h2 id="ipadmini">iPad mini</h2>
            {{#each ipadmini}}
                <a href="/fw/ipadmini/{{id}}" class="fwDevice">
                    <button type="button" class="btn btn-light">
                        <img src="/img/devices/ipadmini/{{image}}" alt="iPad mini {{varient}} (iPad{{id}})">
                        <br>
                        {{varient}} (iPad{{id}})
                    </button>
                </a>
            {{/each}}

            <h2 id="ipadpro">iPad Pro</h2>
            {{#each ipadpro}}
                <a href="/fw/ipadpro/{{id}}" class="fwDevice">
                    <button type="button" class="btn btn-light">
                        <img src="/img/devices/ipadpro/{{image}}" alt="iPad Pro {{varient}} (iPad{{id}})">
                        <br>
                        {{varient}} (iPad{{id}})
                    </button>
                </a>
            {{/each}}

            <h2 id="iphone">iPhone</h2>
            {{#each iphone}}
                <a href="/fw/iphone/{{id}}" class="fwDevice">
                    <button type="button" class="btn btn-light">
                        <img src="/img/devices/iphone/{{image}}" alt="iPhone {{varient}} (iPhone{{id}})">
                        <br>
                        {{varient}} (iPhone{{id}})
                    </button>
                </a>
            {{/each}}

            <h2 id="ipodtouch">iPod touch</h2>
            {{#each ipodtouch}}
                <a href="/fw/ipodtouch/{{id}}" class="fwDevice">
                    <button type="button" class="btn btn-light">
                        <img src="/img/devices/ipodtouch/{{image}}" alt="iPod touch {{varient}} (iPod{{id}})">
                        <br>
                        {{varient}} (iPod{{id}})
                    </button>
                </a>
            {{/each}}
        </div>

        <div class="col-sm-2">
        </div>
    </div>
</div>

{{> footer}}