{{> nav navProcessor=true}}

<div class="container-fluid">
    {{{breadcrumbs
        "Processors"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingMainline" "Mainline Processors")
                (arr "#headingOther" "Other Processors")
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>Processors</h1>
            <p>
                Over the years, Apple has used many different processors.
                Originally, so-called, "off-the-shelf" processors were used such as the {{{link "/processors/s5l8900" "S5L8900"}}} which is an <code>ARM1176JZF-S</code>.
                However, beginning with the {{{link "/processors/s5l8930" "S5L8930"}}} (A4), Apple began producing their own custom silicon.
            </p>

            <h2 id="headingMainline">Mainline Processors</h2>
            <div class="alert alert-primary" role="alert">
                The processors for the Apple Watch and other devices are {{{link "#headingOther" "listed separately"}}}.
            </div>
            <p>
                This list is sorted <em>roughly</em> in chronological order.
            </p>
            <ul>
                <li>{{{link "/processors/s5l8900" "S5L8900"}}}</li>
                <li>{{{link "/processors/s5l8720" "S5L8720"}}}</li>
                <li>{{{link "/processors/s5l8920" "S5L8920"}}}</li>
                <li>{{{link "/processors/s5l8922" "S5L8922"}}}</li>
                <li>{{{link "/processors/s5l8930" "S5L8930"}}} (A4)</li>
                <li>{{{link "/processors/s5l8940" "S5L8940"}}} (A5)</li>
                <li>{{{link "/processors/s5l8942" "S5L8942"}}} (A5 Rev A)</li>
                <li>{{{link "/processors/s5l8945" "S5L8945"}}} (A5X)</li>
                <li>{{{link "/processors/s5l8947" "S5L8947"}}} (A5 Rev B)</li>
                <li>{{{link "/processors/s5l8950" "S5L8950"}}} (A6)</li>
                <li>{{{link "/processors/s5l8955" "S5L8955"}}} (A6X)</li>
                <li>{{{link "/processors/s5l8960" "S5L8960"}}} (A7)</li>
                <li>{{{link "/processors/s5l8965" "S5L8965"}}} (A7 Variant)</li>
                <li>{{{link "/processors/t7000" "T7000"}}} (A8)</li>
                <li>{{{link "/processors/t7001" "T7001"}}} (A8X)</li>
                <li>{{{link "/processors/s8000" "S8000"}}} (A9) [Samsung]</li>
                <li>{{{link "/processors/s8003" "S8003"}}} (A9) [TSMC]</li>
                <li>{{{link "/processors/s8001" "S8001"}}} (A9X)</li>
                <li>{{{link "/processors/t8010" "T8010"}}} (A10 "Fusion")</li>
                <li>{{{link "/processors/t8011" "T8011"}}} (A10X "Fusion")</li>
                <li>{{{link "/processors/t8015" "T8015"}}} (A11 "Bionic")</li>
                <li>{{{link "/processors/t8020" "T8020"}}} (A12 "Bionic")</li>
                <li>{{{link "/processors/t8027" "T8020"}}} (A12X "Bionic")</li>
                <li>{{{link "/processors/t8030" "T8030"}}} (A13 "Bionic")</li>
            </ul>

            <h2 id="headingOther">Other Processors</h2>
            <p>
                While the list above is in chronological order, the same cannot be said for this list.
            </p>
            <ul>
                <li>{{{link "/processors/s7002" "S7002"}}} (S1)</li>
                <li>{{{link "/processors/t8002" "T8002"}}} (S1P)</li>
                <li>{{{link "/processors/t8004" "T8004"}}} (S3)</li>
                <li>{{{link "/processors/t8006" "T8006"}}} (S4)</li>
                <li>{{{link "/processors/w1" "W1"}}}</li>
                <li>{{{link "/processors/w2" "W2"}}}</li>
                <li>{{{link "/processors/w3" "W3"}}}</li>
                <li>{{{link "/processors/t8012" "T8012"}}} (T2)</li>
                <li>{{{link "/processors/t2002" "T2002"}}} (H1)</li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}