{{> nav navFirmware=true}}

<div class="container-fluid">
    {{{breadcrumbs
        "Firmware Files"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingFiles" "List of Different Files")
                (arr "#headingFormats" "List of Different Formats")
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>Firmware Files</h1>
            <p>
                There are many different files contained in an {{{link "/fw/files/formats/ipsw" "IPSW"}}} firmware file.
                These files also come in a variety of different formats.
            </p>

            <h2 id="headingFiles">List of Different Files</h2>
            <p>
                The files contained in an IPSW all have a specific purpose.
                Some are firmware for the various chips in the phone, while others are boot images.
                This list is also available in {{{link "/fw/files/tree" "tree format"}}}.
            </p>
            <ul>
                <li>
                    {{{link "/fw/files/rootFS" "Root Filesystem"}}} (commonly referred to as the "Root FS")
                </li>
                <li>
                    {{{link "/fw/files/updateRamdisk" "Update Ramdisk"}}}
                </li>
                <li>
                    {{{link "/fw/files/restoreRamdisk" "Restore Ramdisk"}}}
                </li>
                <li>
                    {{{link "/fw/files/adcPetra" "ADC Petra"}}}
                </li>
                <li>
                    {{{link "/fw/files/aopFirmware" "AOP Firmware"}}}
                </li>
                <li>
                    {{{link "/fw/files/appleAve" "Apple AVE"}}}
                </li>
                <li>
                    {{{link "/fw/files/ane" "ANE"}}}
                </li>
                <li>
                    {{{link "/fw/files/appleLogo" "Apple Logo Image"}}} (AppleLogo)
                </li>
                <li>
                    {{{link "/fw/files/appleMaggie" "Apple Maggie"}}}
                </li>
                <li>
                    {{{link "/fw/files/armFw" "ARM Firmware"}}}
                </li>
                <li>
                    {{{link "/fw/files/audioDsp" "Audio DSP"}}}
                </li>
                <li>
                    {{{link "/fw/files/batteryCharging" "Battery Charging Image"}}} (BatteryCharging; used in older firmwares)
                </li>
                <li>
                    {{{link "/fw/files/batteryCharging0" "Battery Charging Image 1"}}} (BatteryCharging0)
                </li>
                <li>
                    {{{link "/fw/files/batteryCharging1" "Battery Charging Image 2"}}} (BatteryCharging1)
                </li>
                <li>
                    {{{link "/fw/files/batteryFull" "Battery Full Image"}}} (BatteryFull)
                </li>
                <li>
                    {{{link "/fw/files/batteryLow0" "Battery Low Image 1"}}} (BatteryLow0)
                </li>
                <li>
                    {{{link "/fw/files/batteryLow1" "Battery Low Image 2"}}} (BatteryLow1)
                </li>
                <li>
                    {{{link "/fw/files/callanFirmware" "Callan Firmware"}}}
                </li>
                <li>
                    {{{link "/fw/files/dali" "Dali Firmware"}}}
                </li>
                <li>
                    {{{link "/fw/files/deviceTree" "DeviceTree"}}}
                </li>
                <li>
                    {{{link "/fw/files/glyphCharging" "Charging Glyph"}}} (GlyphCharging)
                </li>
                <li>
                    {{{link "/fw/files/glyphPlugin" "Plugin Glyph"}}} (GlyphPlugin)
                </li>
                <li>
                    {{{link "/fw/files/homer" "Homer Firmware"}}}
                </li>
                <li>
                    {{{link "/fw/files/iBec" "iBoot Epoch Change"}}} (iBEC)
                </li>
                <li>
                    {{{link "/fw/files/iBoot" "iBoot"}}}
                </li>
                <li>
                    {{{link "/fw/files/iBss" "iBoot Single Stage"}}} (iBSS)
                </li>
                <li>
                    {{{link "/fw/files/kernelcache" "Kernelcache"}}}
                </li>
                <li>
                    {{{link "/fw/files/liquidDetect" "LiquidDetect"}}}
                </li>
                <li>
                    {{{link "/fw/files/llb" "Low Level Bootloader"}}} (LLB)
                </li>
                <li>
                    {{{link "/fw/files/lowPowerMode" "LowPowerMode"}}}
                </li>
                <li>
                    {{{link "/fw/files/multitouch" "Multitouch Firmware"}}}
                </li>
                <li>
                    {{{link "/fw/files/needService" "Need Service"}}}
                </li>
                <li>
                    {{{link "/fw/files/recoveryMode" "Recovery Mode"}}}
                </li>
                <li>
                    {{{link "/fw/files/sepFirmware" "Secure Enclave Processor Firmware"}}} (SEP Firmware)
                </li>
                <li>
                    {{{link "/fw/files/smartIOFirmware" "SmartIOFirmware"}}}
                </li>
                <li>
                    {{{link "/fw/files/wirelessPower" "Wireless Power"}}}
                </li>
                <li>
                    {{{link "/fw/files/wtf" "What's the Firmware"}}} (WTF)
                </li>
            </ul>
            <!-- TODO: Savage? Stockholm? Yonkers? Vinyl? -->
            <p>
                There are also a few special files containing manifest information among other things:
            </p>
            <ul>
                <li>
                    {{{link "/fw/files/buildManifest" "BuildManifest.plist"}}}
                </li>
                <li>
                    {{{link "/fw/files/restorePlist" "Restore.plist"}}}
                </li>
                <li>
                    {{{link "/fw/files/trustCache" "*.trustcache"}}} files
                </li>
            </ul>

            <h2 id="headingFormats">List of Different Formats</h2>
            <p>
                Apple has used many different file formats over the years.
                The only files where the format hasn't changed are the root filesystem and the ramdisks; both of which use the {{{link "/fw/formats/dmg" "Apple Disk Image"}}} format.
            </p>
            <ul>
                <li>{{{link "/fw/formats/ipsw" "IPSW"}}}</li>
                <li>{{{link "/fw/formats/dmg" "Apple Disk Image"}}} (DMG)</li>
                <li>{{{link "/fw/formats/plist" "Property List"}}} (PLIST)</li>
                <li>{{{link "/fw/formats/8900" "8900"}}}</li>
                <li>{{{link "/fw/formats/img2" "IMG2"}}}</li>
                <li>{{{link "/fw/formats/img3" "IMG3"}}}</li>
                <li>{{{link "/fw/formats/img4" "IMG4"}}}</li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}