{{> nav navFirmware=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/fw/keys">Firmware Keys</a></li>
            <li class="breadcrumb-item"><a href="/fw/keys/{{device.deviceType}}/{{device.id}}">{{dbKeys.device}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{dbKeys.codename}} {{dbKeys.build}} ({{dbKeys.device}})</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    {{#each dbKeys.keys}}
                    <li>{{addNum @index "1"}}. <a href="#heading{{type}}">{{firmwareItemNameMapper type}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col-sm-7">
            <h1>{{dbKeys.codename}} {{dbKeys.build}} (<code>{{dbKeys.device}}</code>)</h1>

            {{#each dbKeys.keys}}
            <h2 id="heading{{type}}"><a href="/fw/files/{{type}}">{{firmwareItemNameMapper type}}</a></h2>
            <ul>
                <li class="fwFilepath"><span>Filepath: </span><code>./{{filepath}}</code></li>
                {{#if encrypted}}
                <li>IV: <code>{{iv}}</code></li>
                <li>Key: <code>{{key}}</code></li>
                {{else}}
                <li>Not Encrypted</li>
                {{/if}}
            </ul>
            {{/each}}
        </div>

        <div class="col-sm-3">
            <table class="fwInfobox">
                <caption>iPhoneOS {{dbKeys.version}}</caption>
                <tbody>
                    <tr>
                        <th>Build</th>
                        <td>{{dbKeys.build}}</td>
                    </tr>
                    <tr>
                        <th>Codename</th>
                        <td>{{dbKeys.codename}}</td>
                    </tr>
                    <tr>
                        <th>Device</th>
                        <td>
                            <a href="/device/{{device.deviceType}}/{{device.id}}">{{dbKeys.device}}</a>
                        </td>
                    </tr>
                    {{#if dbKeys.baseband}}
                    <tr>
                        <th>Baseband</th>
                        <td><a href="/baseband/{{dbKeys.baseband}}">{{dbKeys.baseband}}</a></td>
                    </tr>
                    {{/if}}
                    {{#if dbKeys.ipswUrl}}
                    <tr>
                        <th colspan="2">
                            <a href="{{dbKeys.ipswUrl}}">Download IPSW</a>
                        </th>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> footer}}