{{> nav navFirmware=true}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    {{#each dbKeys.keys}}
                    <li>
                        {{add1 @index}}. <a href="#item_{{type}}">{{firmwareItemNameMapper type}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <h1>{{dbKeys.codename}} {{dbKeys.build}} ({{dbKeys.device}})</h1>
            <hr>

            {{#each dbKeys.keys}}
            <h2 id="item_{{type}}"><a href="/fw/files/{{type}}">{{firmwareItemNameMapper type}}</a></h2>
            <ul>
                <li class="fwFilepath"><span>Filepath: </span>./{{filepath}}</li>
                {{#if encrypted}}
                <li>IV: <code>{{iv}}</code></li>
                <li>Key: <code>{{key}}</code></li>
                {{else}}
                <li>Not Encrypted</li>
                {{/if}}
            </ul>
            {{/each}}
        </div>

        <div class="col-sm-3">
            <table class="fwInfobox">
                <caption>iPhoneOS {{dbKeys.version}}</caption>
                <tbody>
                    <tr>
                        <th>Build</th>
                        <td>{{dbKeys.build}}</td>
                    </tr>
                    <tr>
                        <th>Codename</th>
                        <td>{{dbKeys.codename}}</td>
                    </tr>
                    <tr>
                        <th>Device</th>
                        <td>
                            <a href="/device/{{device.deviceType}}/{{device.id}}">{{dbKeys.device}}</a>
                        </td>
                    </tr>
                    {{#if dbKeys.baseband}}
                    <tr>
                        <th>Baseband</th>
                        <td><a href="/baseband/{{dbKeys.baseband}}">{{dbKeys.baseband}}</a></td>
                    </tr>
                    {{/if}}
                    {{#if dbKeys.ipswUrl}}
                    <tr>
                        <th colspan="2">
                            <a href="{{dbKeys.ipswUrl}}">Download IPSW</a>
                        </th>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> footer}}