{{> nav navFirmware=true}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <!-- No TOC -->
        </div>

        <div class="col-sm-10">
            <h1>{{device}}</h1>
            <p>
                Please select a firmware version:
            </p>
            <ul>
                {{#each keySets}}
                <li>
                    <a href="{{../urlpart}}/{{build}}">{{version}}: {{build}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

{{> footer}}