{{> nav navFirmware=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/fw/files">Firmware Files</a></li>
            <li class="breadcrumb-item active" aria-current="page">DeviceTree</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>1. <a href="#headingFormat">Payload Format</a></li>
                    <li>
                        2. <a href="#headingListings">Device Trees From Devices</a>
                        <ul>
                            <li>2.1 <a href="#headingAppleTV">Apple TV</a></li>
                            <li>2.2 <a href="#headingIPad">iPad</a></li>
                            <li>2.3 <a href="#headingIPadAir">iPad mini</a></li>
                            <li>2.4 <a href="#headingIPadMini">iPad mini</a></li>
                            <li>2.5 <a href="#headingIPadPro">iPad Pro</a></li>
                            <li>2.6 <a href="#headingIPhone">iPhone</a></li>
                            <li>2.7 <a href="#headingIPodTouch">iPod touch</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10">
            <h1>DeviceTree</h1>
            <p>
                A device tree (or DeviceTree) is a tree containing information about a device's various ports and peripherals.
                It is used by bootloaders (<a href="/fw/files/iBoot">iBoot</a> in the case of iOS) to provide the kernel with a map of the hardware.
                In iOS's case, most nodes in the tree are empty (null) and are instead populated by iBoot before control is passed over to the kernel (XNU).
            </p>
            <p>
                This file is present in all <a href="/fw/formats/ipsw">IPSWs</a> and is the same for every version of iOS (but different for each processor).
                Despite being the same for every version of iOS, the keys when encrypted are different each time.
            </p>

            <h2 id="headingFormat">Payload Format</h2>
            <p>
                Once extracted from the outer container (<a href="/fw/formats/img2">IMG2</a>, <a href="/fw/formats/img3">IMG3</a>, or <a href="/fw/formats/img4">IMG4</a>), the device tree can be dumped.
                It follows a simple binary tree format that can be described in just three structures (two if you don't count the root node as its own):
            </p>
            <pre>
DeviceTree {
   0  DTreeNode root;
}</pre>
            <pre>
DTreeNode {
   0  uint32  propCount;
   4  uint32  childrenCount;
   8  DTreeNodeProp[] props;    // count(props) == propCount
????  DTreeNode[]     children; // count(children) == childrenCount
}</pre>
            <pre>
DTreeNodeProp {
   0  uint8[32] name;
  20  uint32    length;
  24  uint8[]   value; // sizeof(value) == length
????  uint8[]   pad;   // pad to longWord/dWord
}</pre>

            <h2 id="headingListings">Device Trees From Devices</h2>
            <p>
                Listed below are links to device trees for all devices.
                For devices where there are multiple variants for the same identifier (such as <code>iPad6,11</code> with <code>J71sAP</code> and <code>J71tAP</code>), both variants' trees will be listed on the same page.
            </p>

            <h3 id="headingAppleTV">Apple TV</h3>
            <ul>
                {{#each appletv}}
                <li><a href="/fw/files/deviceTree/appletv/{{id}}">{{varient}} (<code>AppleTV{{id}}</code>)</a></li>
                {{/each}}
            </ul>

            <h3 id="headingIPad">iPad</h3>
            <ul>
                {{#each ipad}}
                <li><a href="/fw/files/deviceTree/ipad/{{id}}">{{varient}} (<code>iPad{{id}}</code>)</a></li>
                {{/each}}
            </ul>

            <h3 id="headingIPadAir">iPad Air</h3>
            <ul>
                {{#each ipadair}}
                <li><a href="/fw/files/deviceTree/ipad/{{id}}">{{varient}} (<code>iPad{{id}}</code>)</a></li>
                {{/each}}
            </ul>

            <h3 id="headingIPadMini">iPad mini</h3>
            <ul>
                {{#each ipadmini}}
                <li><a href="/fw/files/deviceTree/ipad/{{id}}">{{varient}} (<code>iPad{{id}}</code>)</a></li>
                {{/each}}
            </ul>

            <h3 id="headingIPadPro">iPad Pro</h3>
            <ul>
                {{#each ipadpro}}
                <li><a href="/fw/files/deviceTree/ipad/{{id}}">{{varient}} (<code>iPad{{id}}</code>)</a></li>
                {{/each}}
            </ul>

            <h3 id="headingIPhone">iPhone</h3>
            <ul>
                {{#each iphone}}
                <li><a href="/fw/files/deviceTree/iphone/{{id}}">{{varient}} (<code>iPhone{{id}}</code>)</a></li>
                {{/each}}
            </ul>

            <h3 id="headingIPodTouch">iPod touch</h3>
            <ul>
                {{#each ipodtouch}}
                <li><a href="/fw/files/deviceTree/ipod/{{id}}">{{varient}} (<code>iPod{{id}}</code>)</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

{{> footer}}