{{> nav navIOS=true}}

<div class="container-fluid">
    {{{breadcrumbs
        (arr "iOS" "/ios")
        "1.x"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingFeatures" "Features")
                (arr "#headingHistory" "Version History")
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>iPhone OS 1</h1>
            <p>
                iPhone OS 1 was the first major release of {{{link "/ios" "iOS"}}}.
                At the time of release, it was not called "iPhone OS," but instead that it ran a trimmed down version of Mac OS X (now macOS).
                With the release of the {{{link "/ios/sdk" "iPhone SDK"}}} on {{{date "2008-03-06"}}}, the name "iPhone OS" was announced.
            </p>

            <h2 id="headingFeatures">Features</h2>
            <p>
                Initially, iPhone OS lacked many features available today;
                There was no wallpaper settings, apps couldn't be rearranged, and there was no {{{link "/ios/apps/appStore" "App Store"}}}.
            </p>

            <h2 id="headingHistory">Version History</h2>
            <table class="table versionHistory">
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Build</th>
                        <th>Release Date</th>
                        <th>Changelog</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <th>{{version}}</th>
                        <td>{{{build}}}</td>
                        <td>{{{date releaseDate}}}</td>
                        <td>
                            {{#if changeNote}}
                            <div class="font-italic">
                                {{{changeNote}}}
                            </div>
                            {{/if}}
                            {{#if changes}}
                            <ul>
                                {{#each changes}}
                                <li>{{{this}}}</li>
                                {{/each}}
                            </ul>
                            {{/if}}
                            {{#if changelogUrl}}
                            <div class="font-italic">
                                {{{link changelogUrl "Changelog"}}}
                            </div>
                            {{/if}}
                            {{#if securityUrl}}
                            <div class="font-italic">
                                {{{link securityUrl "Security Notes"}}}
                            </div>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> footer}}