{{> nav navJailbreaks=true}}

<div class="container-fluid">
    {{{breadcrumbs
        (arr "Jailbreaks" "/jailbreaks")
        "Compatibility - iOS"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#heading1x" "iPhone OS 1.x")
                (arr "#heading2x" "iPhone OS 2.x")
                (arr "#heading3x" "iPhone OS 3.x")
                (arr "#heading4x" "iOS 4.x")
                (arr "#heading5x" "iOS 5.x")
                (arr "#heading6x" "iOS 6.x")
                (arr "#heading7x" "iOS 7.x")
                (arr "#heading8x" "iOS 8.x")
                (arr "#heading9x" "iOS 9.x")
                (arr "#heading10x" "iOS 10.x")
                (arr "#heading11x" "iOS 11.x")
                (arr "#heading12x" "iOS 12.x")
                (arr "#heading13x" "iOS 13.x")
                (arr "#headingFootnotes" "Footnotes")
            }}}
        </div>
        <div class="col-lg-10 col-md-9">
            <h1>Jailbreak Compatibility <small class="text-muted">iOS</small></h1>
            <p>
                This page lists jailbreak compatibility for {{#link "/devices"}}iDevices{{/link}} running iOS.
                This includes iPads running iPadOS 13 or newer, but does not include Apple TVs;
                Those are {{#link "/jailbreaks/compat/appletv"}}listed separately{{/link}}.
            </p>
            <div class="alert alert-primary" role="alert">
                Untethered and semi-untethered jailbreaks are shown with a green background.
                Tethered and semi-tethered jailbreaks are shown with a yellow background.
                Beta firmwares are not listed.
            </div>

            <h2 id="heading1x">iPhone OS 1.x</h2>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Tool</th>
                            <th>Tool Version</th>
                            <th>{{#link "/devices/iphone/2g"}}iPhone 2G{{/link}}</th>
                            <th>{{#link "/devices/ipodtouch/1g"}}iPod touch 1G{{/link}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="4">1.0</td>
                            <td>{{#link "/jailbreaks/appTapp"}}AppTapp Installer{{/link}}</td>
                            <td>1.0</td>
                            <td rowspan="3" class="table-success">Untethered</td>
                            <td rowspan="4" class="table-active">N/A</td>
                        </tr>
                        <tr>
                            <td>{{#link "/jailbreaks/iBrickr"}}iBrickr{{/link}}</td>
                            <td>0.5-0.91</td>
                        </tr>
                        <tr>
                            <td>{{#link "/jailbreaks/iLiberty"}}iLiberty+{{/link}}</td>
                            <td>1.3.0.113</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{#link "/jailbreaks/libTiff"}}libTiff Exploit{{/link}}</td>
                            <td class="table-success">Untethered{{{footnote "#fnLibTiff" "1-1"}}}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th rowspan="3">1.0.1</th>
                            <td>AppTapp</td>
                            <td>1.0</td>
                            <td rowspan="2" class="table-success">Untethered</td>
                            <td rowspan="3" class="table-active">N/A</td>
                        </tr>
                        <tr>
                            <td>iBrickr</td>
                            <td>0.5-0.91</td>
                        </tr>
                        <tr>
                            <td colspan="2">libTiff Exploit</td>
                            <td class="table-success">Untethered{{{footnote "#fnLibTiff" "1-1"}}}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th rowspan="3">1.0.2</th>
                            <td>AppTapp</td>
                            <td>1.0</td>
                            <td rowspan="2" class="table-success">Untethered</td>
                            <td rowspan="3" class="table-active">N/A</td>
                        </tr>
                        <tr>
                            <td>iBrickr</td>
                            <td>0.6-0.91</td>
                        </tr>
                        <tr>
                            <td colspan="2">libTiff Exploit</td>
                            <td class="table-success">Untethered{{{footnote "#fnLibTiff" "1-1"}}}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th>1.1</th>
                            <td colspan="2">libTiff Exploit</td>
                            <td class="table-active">N/A</td>
                            <td class="table-success">Untethered{{{footnote "#fnLibTiff" "1-1"}}}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th>1.1.1</th>
                            <td colspan="2">libTiff Exploit</td>
                            <td colspan="2" class="table-success">Untethered{{{footnote "#fnLibTiff" "1-1"}}}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th>1.1.2</th>
                            <td colspan="2">{{#link "/jailbreaks/oktoPrep"}}OktoPrep{{/link}} + {{#link "/jailbreaks/touchFree"}}touchFree{{/link}}</td>
                            <td colspan="2" class="table-success">Untethered{{{footnote "#fn112" "1-2"}}}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th rowspan="3">1.1.3</th>
                            <td>iLiberty / iLiberty+</td>
                            <td>1.3.0.113</td>
                            <td rowspan="2" colspan="2" class="table-success">Untethered</td>
                        </tr>
                        <tr>
                            <td>{{#link "/jailbreaks/ziPhone"}}ZiPhone{{/link}}</td>
                            <td>3.0</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{#link "/jailbreaks/softUpgrade"}}Soft Upgrade{{/link}}</td>
                            <td colspan="2" class="table-success">Untethered{{{footnote "#fn113" "1-3"}}}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th rowspan="3">1.1.4</th>
                            <td>iLiberty / iLiberty+</td>
                            <td>1.3.0.113</td>
                            <td rowspan="3" colspan="2" class="table-success">Untethered</td>
                        </tr>
                        <tr>
                            <td>ZiPhone</td>
                            <td>3.0</td>
                        </tr>
                        <tr>
                            <td>{{#link "/jailbreaks/pwnageTool"}}PwnageTool{{/link}}</td>
                            <td>1.1</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th rowspan="2">1.1.5</th>
                            <td>iLiberty / iLiberty+</td>
                            <td>1.3.0.113</td>
                            <td rowspan="2" class="table-active">N/A</td>
                            <td rowspan="2" class="table-success">Untethered</td>
                        </tr>
                        <tr>
                            <td>ZiPhone</td>
                            <td>3.0</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2 id="heading2x">iPhone OS 2.x</h2>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Tool</th>
                            <th>Tool Version</th>
                            <th>{{#link "/devices/iphone/2g"}}iPhone 2G{{/link}}</th>
                            <th>{{#link "/devices/iphone/3g"}}iPhone 3G{{/link}}</th>
                            <th>{{#link "/devices/ipodtouch/1g"}}iPod touch 1G{{/link}}</th>
                            <th>{{#link "/devices/ipodtouch/2g"}}iPod touch 2G{{/link}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="2">2.0</th>
                            <td>{{#link "/jailbreaks/pwnageTool"}}PwnageTool{{/link}}</td>
                            <td>2.0-2.0.3</td>
                            <td colspan="3" class="table-success">Untethered</td>
                            <td rowspan="2" class="table-active">N/A</td>
                        </tr>
                        <tr>
                            <td>{{#link "/jailbreaks/quickPwn"}}QuickPwn{{/link}}</td>
                            <td>RC3-2.2.5</td>
                            <td class="table-success">Untethered</td>
                            <td class="table-danger">Not Supported</td>
                            <td class="table-success">Untethered</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th rowspan="2">2.0.1</th>
                            <td>PwnageTool</td>
                            <td>2.0.2-2.0.3</td>
                            <td colspan="3" class="table-success">Untethered</td>
                            <td rowspan="2" class="table-active">N/A</td>
                        </tr>
                        <tr>
                            <td>QuickPwn</td>
                            <td>RC3-2.2.5</td>
                            <td class="table-success">Untethered</td>
                            <td class="table-danger">Not Supported</td>
                            <td class="table-success">Untethered</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th rowspan="2">2.0.2</th>
                            <td>PwnageTool</td>
                            <td>2.0.3</td>
                            <td colspan="3" class="table-success">Untethered</td>
                            <td rowspan="2" class="table-active">N/A</td>
                        </tr>
                        <tr>
                            <td>QuickPwn</td>
                            <td>RC3-2.2.5</td>
                            <td class="table-success">Untethered</td>
                            <td class="table-danger">Not Supported</td>
                            <td class="table-success">Untethered</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th rowspan="2">2.1</th>
                            <td>PwnageTool</td>
                            <td>2.1-2.2.5</td>
                            <td colspan="3" class="table-success">Untethered</td>
                            <td rowspan="2" class="table-active">N/A</td>
                        </tr>
                        <tr>
                            <td>QuickPwn</td>
                            <td>2.1-2.2.5</td>
                            <td class="table-success">Untethered</td>
                            <td class="table-danger">Not Supported</td>
                            <td class="table-success">Untethered</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th>2.1.1</th>
                            <td colspan="2">{{#link "/jailbreaks/redsn0wLite"}}redsn0w Lite{{/link}}</td>
                            <td colspan="3" class="table-active">N/A</td>
                            <td class="table-warning">Tethered{{{footnote "#fn211" "2-1"}}}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th rowspan="2">2.2</th>
                            <td>PwnageTool</td>
                            <td>2.2-2.2.5</td>
                            <td colspan="3" class="table-success">Untethered</td>
                            <td rowspan="2" class="table-danger">Not Supported</td>
                        </tr>
                        <tr>
                            <td>QuickPwn</td>
                            <td>2.2-2.2.5</td>
                            <td class="table-success">Untethered</td>
                            <td class="table-danger">Not Supported</td>
                            <td class="table-success">Untethered</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <th rowspan="3">2.2.1</th>
                            <td>PwnageTool</td>
                            <td>2.2.1-2.2.5</td>
                            <td colspan="3" class="table-success">Untethered</td>
                            <td rowspan="2" class="table-danger">Not Supported</td>
                        </tr>
                        <tr>
                            <td>QuickPwn</td>
                            <td>2.2.1-2.2.5</td>
                            <td class="table-success">Untethered</td>
                            <td class="table-danger">Not Supported</td>
                            <td class="table-success">Untethered</td>
                        </tr>
                        <tr>
                            <td>{{#link "/jailbreaks/redsn0w"}}redsn0w{{/link}}</td>
                            <td>0.3</td>
                            <td colspan="3" class="table-danger">Not Supported</td>
                            <td class="table-success">Untethered</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2 id="headingFootnotes">Footnotes</h2>
            <ul class="list-group list-group-flush">
                <li id="fnLibTiff" class="list-group-item">
                    <b>1-1</b>:
                    A maliciously-crafted TIFF, using the {{#link "/jailbreaks/libTiff"}}libTiff exploit{{/link}} (using {{#link "/ios/apps/safari"}}Safari Mobile{{/link}}), can be used to jailbreak.
                    The two most notable include {{#link "https://forums.macrumors.com/threads/377126/"}}planetbeing's{{/link}} and {{#link "/jailbreaks/appSnapp"}}AppSnapp{{/link}}.
                    However, both services are now offline, but should one want to, {{#link "https://mtmdev.org/blog/mtm-devadmin/2018/ios-1-1-1-jailbreak"}}a guide exists{{/link}} to create a TIFF for iPhone OS 1.1.1.
                </li>
                <li id="fn112" class="list-group-item">
                    <b>1-2</b>:
                    It was previously possible to jailbreak iPhone OS 1.1.2 using {{#link "/jailbreaks/oktoPrep"}}OktoPrep{{/link}} alongside {{#link "/jailbreaks/touchFree"}}touchFree{{/link}}.
                    However, the original package repository for OktoPrep through {{#link "/ios/apps/installer"}}Installer.app{{/link}} is offline.
                </li>
                <li id="fn113" class="list-group-item">
                    <b>1-3</b>:
                    It was previously possible to jailbreak iPhone OS 1.1.3 using a "{{#link "/jailbreaks/softUpgrade"}}soft upgrade{{/link}}," but this is no longer possible due to the package repository being offline.
                </li>
                <li id="fn211" class="list-group-item">
                    <b>2-1</b>:
                    Tethered for devices running the old bootrom only.
                    It will not work for devices running the new bootrom.
                </li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}